<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Color Views</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./public/styles/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/styles.css"> -->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
    <!-- <img class="bg" src="../images/white-texture.jpg"> -->
    <header>
      <div class="col-sm-12"><h1> Gradients </h1></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">

    <nav class="navbar navbar">

        <!-- <div class="navbar-header">
        </div> -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/colors">Colors</a></li>
          <li><a href="/blue">Blue</a></li>
          <li><a href="/green">Green</a></li>
            <li><a href="/red">Red</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>


    <!-- <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">

        <ul id="menu-main" class="nav">
          <li><a title="home" href="/">Home</a></li>
          <li><a title="colors" href="/colors">Colors</a></li>
          <li><a title="red" href="/blue">Reds</a></li>
          <li><a title="green" href="/green">Greens</a></li>
          <li><a title="blue" href="/red">Blues</a></li>


        </ul>
        </nav> -->


        <style>
        body {
          background-color: #fffdf2;
        }
        h1 {
          /*background-color: black;
          border: 1px solid black;
          color: white;
          width: 1300px;*/
          font-size: 40px;
          /*height: 100px;*/
        }
        .nav {
          color: black;
        }
        </style>


        <!-- <nav>
          <a href = '/'>  Home </a><br>
          <a href = '/colors'> Colors </a><br>
          <a href = '/blue'>  Blue </a><br>
          <a href = '/green'>  Green </a><br>
          <a href = '/red'>  Red </a><br>
        </nav>
      </div> -->
</header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

    <%- body -%>
    <!-- insert body here -->
      </div>
    </div>
  </div>
<footer>
  <p> Made by Art and Colby &hearts; </p>
</footer>

  </body>
</html>
